/* Coolors Exported Palette - coolors.co/db4437-1c77c3-39a9db-40bcd8-f39237 */

/* HSL */
$color1: hsla(5%, 69%, 54%, 1);
$color2: hsla(207%, 75%, 44%, 1);
$color3: hsla(199%, 69%, 54%, 1);
$color4: hsla(191%, 66%, 55%, 1);
$color5: hsla(29%, 89%, 58%, 1);

/* RGB */
$color1: rgba(219, 68, 55, 1);
$color2: rgba(28, 119, 195, 1);
$color3: rgba(57, 169, 219, 1);
$color4: rgba(64, 188, 216, 1);
$color5: rgba(243, 146, 55, 1);