/* Coolors Exported Palette - coolors.co/db4437-002626-0e4749-95c623-efe7da */

/* HSL */
$color1: hsla(5%, 69%, 54%, 1);
$color2: hsla(180%, 100%, 7%, 1);
$color3: hsla(182%, 68%, 17%, 1);
$color4: hsla(78%, 70%, 46%, 1);
$color5: hsla(37%, 40%, 90%, 1);

/* RGB */
$color1: rgba(219, 68, 55, 1);
$color2: rgba(0, 38, 38, 1);
$color3: rgba(14, 71, 73, 1);
$color4: rgba(149, 198, 35, 1);
$color5: rgba(239, 231, 218, 1);